<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <link rel='stylesheet' href='/css/style.css' />

</head>
<body>
    <figure>
        <a href="/"><img src="/img/logo-DH.png" alt="Logo Digital House"></a>
    </figure>
    <h1><%= movie.title %> </h1>    
    <br>
    <p>RATING: <%= movie.rating %> </p>
    <p>AWARDS: <%= movie.awards %> </p>
    <p>LENGTH: <%= movie.length + ' min'%> </p>
    <p>RELEASE DATE: <%= movie.release_date.toISOString().split('T')[0] %> </p>
    <p>GENRE: <%= movie.genre? movie.genre.name : 'Sin catalogar' %> </p>
    <br>
    <h4>ACTORS:</h4>
    <p>
        <% movie.actors.forEach(actor=> { %>
            <li>
                <%= actor.first_name %> <%= actor.last_name %>
            </li>
            <% }) %>
    </p>
    <br>   
    <section>
        <a href="/movies/edit/<%=movie.id %>">EDITAR</a>
        <br>
        <a href="/movies/delete/<%=movie.id %>">BORRAR</a>
    </section>
    

</body>
</html>